## Tuple Data Structure Basic to Advance ##

## Tuple Data Structure Basic to Advance ##

### 1. Write a Python program to create a tuple 
Sample Output 
Tuple = ()

In [1]:
## Ans -
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

### 2. Write a Python program to create a tuple with different data types 
Sample Output 
('Tutor Joes', True, 'T', 3.21, 10)

In [2]:
## Ans - 
a = ('Tutor Joes', True, 'T', 3.21, 10)
print(a)
print(type(a))

('Tutor Joes', True, 'T', 3.21, 10)
<class 'tuple'>

In [3]:
print ('Tuple output - ',a)

Tuple output -  ('Tutor Joes', True, 'T', 3.21, 10)

### 3. Write a Python program to create a tuple with numbers and print one item 
Sample Output 
10 
Type = tuple

In [4]:
## Ans -
a1 = (10,20)
print(a1)
print(type(a1))

(10, 20)
<class 'tuple'>

### 4. Write a Python program to unpack a tuple in several variables 
Sample Output 
a = 4, 8, 3 
(4, 8, 3)

In [5]:
## Ans -
a = (4,8,3)
print(a)
print(type(a))

(4, 8, 3)
<class 'tuple'>

### 5. Write a Python program to add an item in a tuple 
Sample Output 
(10, 40, 50, 70, 90) 
add items in list = 20 
(10, 40, 50, 70, 90, 20)

In [6]:
## Ans -
a = (10, 40, 50, 70, 90) 
print(type(a))
print(a)

<class 'tuple'>
(10, 40, 50, 70, 90)

In [7]:
a1 =list(a) ## Tuple corvet in list 
a1.append(20) ## using append funcation 
a2=tuple(a1) ## List conver into tupel
print('add items in list = 20 -',a2)

add items in list = 20 - (10, 40, 50, 70, 90, 20)

#### 6. Write a Python program to convert a tuple to a string 
Sample Output 
('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's') 
Tutor Joes

In [8]:
## Ans -
x = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's') 
print(x)
print(type(x))

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
<class 'tuple'>

In [9]:
x1 = ''.join(x) ## Unsing Join Function 
print(x1)

Tutor Joes

### 7. Write a Python program to get the 4th element and 4th element from last of a tuple 
Sample Output 
('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e') 
-4th Elements From Tuple : e 
4th Elements From Last Tuple : u

In [10]:
## Ans = 
data = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e') 
print(data)
print(type(data))

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
<class 'tuple'>

In [11]:
start = data[3]
last = data[-4]
print ('Fourth_Elements_From_Tuple-' ,start)
print ('Fourth_Elements_From_last_Tuple-' ,last)

Fourth_Elements_From_Tuple- e
Fourth_Elements_From_last_Tuple- u

### 8. Write a Python program to create the colon of a tuple 
Sample Output 
("Tutor", 'J', 23 , 56.67 , [23,12] , True) 
Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

In [12]:
### Ans - 
given_tuple = ("Tutor", 'J', 23 , 56.67 , [23,12] , True) 
print(given_tuple)
copy_tuple = given_tuple
print('copy -',copy_tuple)

('Tutor', 'J', 23, 56.67, [23, 12], True)
copy - ('Tutor', 'J', 23, 56.67, [23, 12], True)

### 9. Write a Python program to find the repeated items of a tuple 
Sample Output 
(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2) 
item = 2 
Repeated items of a tuple = 3

In [13]:
### Ans - x =(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
print(x)

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')

In [14]:
repeated_item = x.count(2)
print('item 2 reapeated -',repeated_item)

item 2 reapeated - 0

### 10. Write a Python program to check whether an element exists within a tuple 
Sample Output 
('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8) 
8 in Tuple = True 
'x' in Tuple = False

In [15]:
### Ans -
s = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
print(s)
print(type(s))

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)
<class 'tuple'>

In [16]:
## Using Membership operator - 
print ( 8 in s )
print ( x in s )

True
False

### 11. Write a Python program to convert a list to a tuple 
Sample Output 
[12, 45, 87, 54, 89, 4] 
(12, 45, 87, 54, 89, 4)

In [17]:
### Ans -
my_list = [12, 45, 87, 54, 89, 4]

print("Original List:", my_list)

my_tuple = tuple(my_list)

print("Converted Tuple:", my_tuple)

Original List: [12, 45, 87, 54, 89, 4]
Converted Tuple: (12, 45, 87, 54, 89, 4)

### 12. Write a Python program to remove an item from a tuple 
Sample Output 
(23, 45, 56, 68, 10, 45, 7, 9) 
Remove = 56 
(23, 45, 68, 10, 45, 7, 9)

In [18]:
my_tuple = (23, 45, 56, 68, 10, 45, 7, 9)

print("Original Tuple:", my_tuple)

# Item to remove
remove_item = 56
print("Remove:", remove_item)

new_tuple = tuple(item for item in my_tuple if item != remove_item)

print("Tuple after removal:", new_tuple)

Original Tuple: (23, 45, 56, 68, 10, 45, 7, 9)
Remove: 56
Tuple after removal: (23, 45, 68, 10, 45, 7, 9)

### 13. Write a Python program to slice a tuple 
Sample Output 
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
(40, 50, 60, 70, 80)

In [19]:
## Ans - 
s = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
print(s)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [20]:
output = s[3:7]
print(output)

(40, 50, 60, 70)

### 14. Write a Python program to find the index of an item of a tuple 
Sample Output 
 
(23, 45, 67, 78, 89, 90, 34, 56) 
Item = 78 
Index Number : 3

In [21]:
## Ans - s = (23, 45, 67, 78, 89, 90, 34, 56) 
print(s)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [22]:
index_number = s[3]
print('Index Number 3 - ' , index_number)

Index Number 3 -  40

### 15. Write a Python program to find the length of a tuple 
Sample Output 
("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox") 
Length : 6

In [23]:
## Ans - 
animals = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox") 
lenght = len(animals)
print(lenght)

6

### 16. Write a Python program to convert a tuple to a dictionary 
Sample Output 
( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) ) 
{ 'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422 }

In [24]:
given_data = (("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422))

print("Original Tuple:", given_data)

required_data = dict(given_data)

print("Converted Dictionary:", required_data)

Original Tuple: (('Name', 'Ram'), ('Age', 23), ('City', 'Salem'), ('Mark', 422))
Converted Dictionary: {'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

### 17. Write a Python program to unzip a list of tuples into individual lists 
Sample Output 
[ (10,30), (60,90), (20,50) ] 
[ (10, 60, 20), (30, 90, 50) ]

In [25]:
## Ans - 
my_tuples = [(10, 30), (60, 90), (20, 50)]
print(my_tuples)

[(10, 30), (60, 90), (20, 50)]

In [26]:
l1=[]

In [27]:
l2=[]

In [28]:
for tuple in my_tuples:
    l1.append(tuple[0])  
    l2.append(tuple[1])
    unzipped_lists = [l1, l2]
    print("Unzipped Lists:", unzipped_lists)

Unzipped Lists: [[10], [30]]
Unzipped Lists: [[10, 60], [30, 90]]
Unzipped Lists: [[10, 60, 20], [30, 90, 50]]

### 18. Write a Python program to reverse a tuple 
Sample Output 
Before Reverse : ( 23, 45, 67, 78, 89, 90, 34, 56 ) 
After Reverse : ( 56, 34, 90, 89, 78, 67, 45, 23 )

In [29]:
## Ans - 
before = ( 23, 45, 67, 78, 89, 90, 34, 56 )
print(before)

(23, 45, 67, 78, 89, 90, 34, 56)

In [30]:
after = before[::-1]
print("After Reverse - ",after)

After Reverse -  (56, 34, 90, 89, 78, 67, 45, 23)

In [ ]:
### 19. Write a Python program to convert a list of tuples into a dictionary 
Sample Output 
[ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", 
"Female") ] 
{ 'Name' : ['Ram', 'Pooja'], 'Age' : [21, 23], 'Gender' : ['Male', 'Female'] }

In [ ]:
## Ans -
data_tuples = [ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female") ] 
   

result_dict = {}

for key, value in data_tuples:
    if key not in result_dict:
        result_dict[key] = []
    result_dict[key].append(value)

print("Converted Dictionary:", result_dict)

### 20. Write a Python program to print a tuple with string formatting 
Sample Output 
("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", 
"pears") 
Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 
'pears')

In [ ]:
## Ans -
fruits = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
print(fruits)

In [ ]:
print(f"Fruits {fruits}")

In [ ]:
print("Fruits {}".format(fruits))

### 21. Create a tuple with single item 23 
Sample Output 
Create a tuple with Item = 23 
Type = tuple

In [ ]:
## Ans -
a = (23 , )
print(a)
print(type(a))

### 22. Unpack the tuple into 5 variables 
Sample Output 
Tuple = (11, 22, 333, 44, 55) 
11 
22 
33 
 
44 
55

In [ ]:
## Ans -
variables = ( 11,22,33,44,55)
print(variables)

In [ ]:
a,b,c,d,e = variables
print('tuple variables - ',a)
print('tuple variables - ',b)
print('tuple variables - ',c)
print('tuple variables - ',d)
print('tuple variables - ',e)

### 23. Swap two tuples in Python 
Sample Output 
Before Swap A : 10 
Before Swap B : 20 
After Swap A : 20 
After Swap B : 10

In [ ]:
### Ans  -
# Define two tuples
before_a = (10,)
before_b = (20,)
print("Before Swap A :", before_a[0])
print("Before Swap B :", before_b[0])

In [ ]:
before_a, before_b = before_b, before_a

In [ ]:
print("After Swap A :", before_a[0])
print("After Swap B :", before_b[0])

### 24. Copy specific elements from one tuple to a new tuple 
Sample Output 
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
(30, 40, 50, 60, 70, 80)

In [ ]:
## Ans - 
tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
print(tuple)

In [ ]:
tuple2 = tuple[2:7]
print( 'New Tuple -',tuple2)

### 25. Modify the tuple 
Sample Output 
( 10, 20, 30, 40, 50 ) 
( 10, 20, 33, 40, 50 )

In [ ]:
## Ans - 
given = ( 10, 20, 30, 40, 50 ) 
print(given)
temp_tup = list(given)
temp_tup[2]=33
modify_tuple = tuple(temp_tup)
print(modify_tuple)

### 26. Sort a tuple of tuples by 2nd item 
Sample Output 
( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) ) 
( ('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53) )

In [ ]:
## Ans -
original_tuple = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))

def get_second_item(item):
    return item[1]

sorted_tuple = sorted(original_tuple, key=get_second_item)

print("Original Tuple:", original_tuple)
print("Sorted Tuple by 2nd item:", sorted_tuple)

### 27. Counts the number of occurrences of item 30 from a tuple 
Sample Output 
(30, 50, 10, 30, 70, 50, 30) 
Number of Counts 30 : 3

In [ ]:
## Ans - 
a = (30, 50, 10, 30, 70, 50, 30) 
print(a)
a1 = a.count(30)
print('Number of Counts 30 - ' , a1)

### 28. Write a Python program to compute element-wise sum of given tuples 
Sample Output 
A = (2, 5, 8) 
B = (6, 5, 1) 
C = (1, 4, 7) 
D = (3, 7, 2) 
Sum of Elements = (12, 21, 18)

In [ ]:
## Ans - 
A = (2, 5, 8) 
B = (6, 5, 1) 
C = (1, 4, 7) 
D = (3, 7, 2)

In [ ]:
sum_of_elements = tuple(sum(elements) for elements in zip(A, B, C, D))

In [ ]:
print("A =", A)
print("B =", B)
print("C =", C)
print("D =", D)
print("Sum of Elements =", sum_of_elements)

### 29. Write a Python program to sort a tuple by its float element 
Sample Output 
[ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ] 
[ ('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43') ]

In [ ]:
## Ans - 
data = [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ] 
print(data)

In [ ]:
sorted_data = sorted(data)
print(sorted_data)

### 30. Write a Python program to replace last value of tuples in a list 
Sample Output 
[(5, 2, 3), (4, 7, 6), (8, 9, 6)] 
Replace value = 10 
[(5, 2, 10),(4, 7, 10),(8, 9, 10)]

In [ ]:
## Ans - 
data = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print(data)

In [ ]:
replace_value = 10

In [ ]:
final_data = [t[:-1] + (replace_value,) for t in data]
print(final_data)

### 31. Write a Python program to Extract tuples having K digit elements 
Sample Output 
[ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ] 
K = 2 
[ (47, 23), (22, 53) ]

In [ ]:
## Ans - 
data = [ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ] 
print(data)

In [ ]:
K = 2

In [ ]:
result = [t for t in data if all(len(str(x)) == K for x in t)]

In [ ]:
print("Original Data:", data)
print(f"Tuples with {K}-digit elements:", result)

### 32. Write a Python program to Extract Symmetric Tuples 
Sample Output 
[ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ] 
{ (2, 9), (18, 23) }

In [ ]:
## Ans -
data = [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ] 
print(data)

In [ ]:
symmetric_tuples = set()

In [ ]:
for t in data:
    if (t[1], t[0]) in data:
        symmetric_tuples.add(tuple(sorted(t)))

print("Main Data:", data)
print("Symmetric Tuples:", symmetric_tuples)

### 33. Write a Python program to Sort Tuples by their Maximum element 
Sample Output 
[ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ] 
[ (19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2) ]

In [ ]:
data = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ] 
print(data)

In [ ]:
sorted_tuples = sorted(data, key=max ,reverse=True)

In [ ]:
print("Sorte Maximum Element:", sorted_tuples)

### 34. Write a Python program to Remove nested records from tuple 
Sample Output 
(10, 20, (30,), 40, (50, 60), 70) 
Removal of Nested Tuple : (10, 20, 40, 70)

In [ ]:
data = (10, 20, (30,), 40, (50, 60), 70) 
print(data)

In [ ]:
filtered_tuple = tuple(item for item in data if not isinstance(item, tuple))

In [ ]:
print("Removal of Nested record Tuples:", filtered_tuple)

### 35. Write a Python program to Elements Frequency in Mixed Nested Tuple 
 
Sample Output 
(10, 20, (20, 10), 30, (40, 50, 60), 60, 70) 
Elements Frequency : {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

In [ ]:
data = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70) 
print(data)

### 36. Write a Python program to get unique elements in nested tuple 
Sample Output 
[ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ] 
Unique Element in Nested Tuples : [1, 3, 5, 4, 7, 2, 6, 10, 9]

In [ ]:
nested_tuple = [ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]

def get_unique_elements(nested_tuples):
    unique_elements = set()
    for tup in nested_tuples:
        unique_elements.update(tup) 
    return sorted(unique_elements)  

unique_elements = get_unique_elements(nested_tuple)

print("Unique Element in Nested Tuples:", unique_elements)

### 37. Write a Python program to Concatenate tuples to nested tuples 
Sample Output 
Tuple 1 : ((18, 23, 2, 9),) 
Tuple 2 : ((10, 3, 11),) 
Tuples after Concatenating : ((18, 23, 2, 9), (10, 3, 11))

In [ ]:
##  Ans - 
tuple_1 = ((18, 23, 2, 9),) 
tuple_2 = ((10, 3, 11),)
concatenated_tuple = tuple_1 + tuple_2
print(concatenated_tuple)

## 38. Write a Python program to Sort by Frequency of second element in Tuple List 
Sample Output 
[ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ] 
Sorted List of tuples : [ (2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8) ]

In [ ]:
data = [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ] 
print(data)

In [ ]:
from collections import Counter

tuple_list = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

frequency = Counter(second for _, second in tuple_list)

sorted_list = sorted(tuple_list, key=lambda x: frequency[x[1]])

print("Original List of tuples :", tuple_list)
print("Sorted List of tuples :", sorted_list)

### 39. Write a Python program to Sort lists in tuple 
Sample Output 
( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) ) 
Tuple after sorting list : ( [10, 50, 60], [20, 30, 80], [40, 70, 100], [90] )

In [ ]:
## Ans = 
input_tuple = ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))

sorted_lists = []

for item in input_tuple:
    if isinstance(item, list):
        item.sort()
        sorted_lists.append(item)
    else:
        sorted_lists.append(list(item))  # Convert tuple to list

sorted_tuple = tuple(sorted_lists)

print("Tuple after sorting list :", sorted_tuple)

#### 40. Write a Python program to Order Tuples using external List 
Sample Output 
[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ] 
Ordered Tuple List : [ ('A', 67), ('B', 68), ('C', 69), ('D', 70) ]

In [ ]:
def order_tuples(tuples_list, order):
    # Sort the tuples based on the index of the first element in each tuple in the external order list
    ordered_list = sorted(tuples_list, key=lambda x: order.index(x[0]))
    return ordered_list

# Sample input
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
order = ['A', 'B', 'C', 'D']  # External list defining the desired order

# Call the function and print the result
ordered_tuple_list = order_tuples(tuples_list, order)
print("Original Tuple List:", tuples_list)
print("Ordered Tuple List:", ordered_tuple_list)

## 41. Write a Python program to Filter Tuples by Kth element from List 
Sample Output 
[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ] 
List of kth elements to filter = [67 , 70 , 71, 75] 
Kth element index = 1 
Filtered tuples : [('D', 70), ('A', 67)]

### 42. Write a Python program to Closest Pair to Kth index element in Tuple 
Sample Output 
[ (23, 18), (9, 2), (2, 3), (9, 18), (23, 2) ] 
Given Tuple = (20, 2) 
Kth Element Index = 1 
Nearest Tuple : (23, 18)

### 43. Write a Python program to Tuple List intersection (Order irrespective) 
Sample Output 
List 1 : [ (3, 4), (5, 6), (9, 10), (4, 5) ] 
List 2 : [ (5, 4), (3, 4), (6, 5), (9, 11) ] 
 
Intersection : { (4, 5), (5, 6), (3, 4) }

In [ ]:
## Ans -
list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

In [ ]:
def tuple_list_intersection(list1, list2):
        intersection = set(list1) & set(list2)
        return intersection
result = tuple_list_intersection(list1, list2)

In [ ]:
print("Intersection:", result)

### 44. Write a Python program to Intersection in Tuple Records Data 
Sample Output 
list 1 : [ ('A', 65), ('D', 68), ('B', 66) ] 
list 2 : [ ('D', 68), ('C', 67), ('A', 65) ] 
Intersection of data records : [ ('A', 65), ('D', 68) ]

In [ ]:
## Ans -
list1 = [('A', 65), ('D', 68), ('B', 66)]
list2 = [('D', 68), ('C', 67), ('A', 65)]

In [ ]:
def intersection_of_tuple_records(list1, list2):
    intersection = [record for record in list1 if record in list2]
    return intersection

result = intersection_of_tuple_records(list1, list2)

print("Intersection of data records:", result)

## 45. Write a Python program to Unique Tuple Frequency (Order Irrespective) 
Sample Output 
[ (3, 4), (1, 2), (4, 3), (5, 6) ] 
Unique tuples Frequency : [(1, 2), (3, 4), (5, 6)] 
Unique tuples Frequency Count : 3

In [ ]:
## Ans -
def unique_tuple_frequency(tuples_list):
    # Use a set to store unique tuples in sorted order
    unique_tuples = {tuple(sorted(t)) for t in tuples_list}
    
    # Convert the set back to a list to maintain a consistent output format
    unique_tuples_list = list(unique_tuples)
    
    # Count of unique tuples
    unique_count = len(unique_tuples_list)
    
    return unique_tuples_list, unique_count

# Sample input
tuples_list = [(3, 4), (1, 2), (4, 3), (5, 6)]

# Get unique tuples and their count
unique_tuples_list, unique_count = unique_tuple_frequency(tuples_list)

print("Unique tuples Frequency:", unique_tuples_list)
print("Unique tuples Frequency Count:", unique_count)

### 46. Write a Python program to Skew Nested Tuple Summation 
Sample Output 
(1, (2, (3, (4, (5, None))))) 
Summation of 1st positions : 15

In [ ]:
# Ans - 
def skew_nested_tuple_summation(nested_tuple):
    if nested_tuple is None:
        return 0
    first_element_sum = nested_tuple[0] if isinstance(nested_tuple[0], int) else 0
    return first_element_sum + skew_nested_tuple_summation(nested_tuple[1])

nested_tuple = (1, (2, (3, (4, (5, None)))))

result = skew_nested_tuple_summation(nested_tuple)

print("Summation of 1st positions:", result)

## 47. Write a Python program to Convert Binary tuple to Integer 
Sample Output 
(1, 0, 1, 0) 
Decimal number is : 10

In [ ]:
# ANs 
def binary_tuple_to_integer(binary_tuple):
    decimal_number = int(''.join(map(str, binary_tuple)), 2)
    return decimal_number

binary_tuple = (1, 0, 1, 0)

result = binary_tuple_to_integer(binary_tuple)

print("Decimal number is:", result)

### 48. Write a Python program to Tuple XOR operation 
Sample Output 
Tuple 1 : (10, 4, 6, 9) 
Tuple 2 : (5, 2, 3, 3) 
XOR tuple : (15, 6, 5, 10)

In [ ]:
## Ans - 
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

def tuple_xor(tuple1, tuple2):
    xor_tuple = tuple(a ^ b for a, b in zip(tuple1, tuple2))
    return xor_tuple

result = tuple_xor(tuple1, tuple2)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("XOR tuple:", result)

## 49. Write a Python program to AND operation between Tuples 
Sample Output 
Tuple 1 : (10, 4, 6, 9) 
Tuple 2 : (5, 2, 3, 3) 
AND operation Between Tuple : (0, 0, 2, 1)

In [ ]:
## ANs -
def tuple_and(tuple1, tuple2):
    and_tuple = tuple(a & b for a, b in zip(tuple1, tuple2))
    return and_tuple

tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

result = tuple_and(tuple1, tuple2)

# Print the results
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("AND operation Between Tuple:", result)

## 50. Write a Python program to Elementwise AND in tuples 
Sample Output 
Tuple 1 : (10, 4, 6, 9) 
Tuple 2 : (5, 2, 3, 3) 
Elementwise AND Tuple : (0, 0, 2, 1)

In [ ]:
## Ans - 
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

def elementwise_and(tuple1, tuple2):
    and_tuple = tuple(map(lambda x, y: x & y, tuple1, tuple2))
    return and_tuple

result = elementwise_and(tuple1, tuple2)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Elementwise AND Tuple:", result)